@font-face {
    font-style: normal;
    font-weight: 300;
    src: url('../fonts//Alibaba-Regular.ttf') format('truetype');
    font-family: 'Alibaba';
    font-display: swap;
}

html,
body {
    width: 100%;
    font-family: 'Alibaba', 'Segoe UI', 'Roboto', sans-serif;
    -moz-font-feature-settings: 'ss01';
    -webkit-font-feature-settings: 'ss01';
    font-feature-settings: 'ss01';
}
.english-text {
    font-feature-settings: 'ss02';
}
